body {
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}


/*.wpapper {
	max-width: 1200px;
	margin-right: auto;
  margin-left: auto;
  }*/

  .header {
  	height: 80px;
  	line-height: 80px;
  }

  .wrap {
  	background-color: #fff;
  }

  /*Шапка.*/

  .logo {
  	position: relative;
  	padding-left: 40px;
  	margin-top: 18px;
  }

  .logo img {
  	max-width: 120px;
  }

  .main-menu {
  	float: right;
  	margin-right: 37px;
  	margin-top: 4px;
  }

  .main-menu button {
  	font-family: Comfortaa;
  	text-align: center;
  	background-color: #d3e3ef;
  	border-radius: 10px;
  	outline: none !important;
  	border: none;
  	cursor: pointer;
  	box-shadow: 1px 1.7px 4.8px 2.2px rgba(0, 0, 0, 0.08);
  }

  .main-menu img {
  	padding: 2px 5px;
  	vertical-align: middle;
  }

  .main-menu button:hover {
  	background-color: #27628e;	
  }

  .menu-item-1, .menu-item-2, .menu-item-3 {
  	display: inline;
  	margin-left: 10px;
  }

  .main-menu a {
  	text-decoration: none;
  	font-family: Comfortaa;
  	text-align: center;
  }

  .main-menu img {
  	max-height: 20px;
  }


  /*Слайдер.*/

  .slider {
  	display: flex;
  	justify-content: flex-end;
  	/*position: relative;*/
  	background-image: url("../img/dikie lyudi.png");	
  	height: 565px;
  	background-size: cover;
  }

  .fks1, .fks2 {
  	margin: 0;
  }

  .slider-text {
  	margin-top: 10%;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  }

  .fks1 {
  	/*position: absolute;
  	right: 5%;
  	top: 22%;
  	padding: 10px 10px;*/
  	
  	text-transform: uppercase;
  	letter-spacing: 0.18px;
  	color: #fff;
  	font-family: Comfortaa;
  	font-weight: 400;
  	font-size: 20px;
  	background: rgb(1, 1, 1, 0.7);
  	border-radius: 10px;
  }

  .fks2 {
  	/*position: absolute;
  	right: 5%;
  	top: 30%;
  	padding: 10px 10px;*/
  	text-transform: uppercase;
  	letter-spacing: 0.18px;
  	color: #fff;
  	font-family: Comfortaa;
  	font-size: 20px;
  	background: rgb(1, 1, 1, 0.7);
  	border-radius: 10px;	
  }


  /*gamepad*/

  .gamepad {
  	background-color: #fff;
  }

  .gamepad img {
  	display: block;
  	margin: auto;
  	padding-top: 15px;
  	padding-bottom: 20px;
  }

  .line-1 {
  	color: #fdfdfd;
  	font-family: Jura;
  	font-size: 27px;
  	font-weight: 400;
  	line-height: 24px;
  	text-transform: uppercase;
  	background-color: #272727;
  	text-align: center;
  }

  .line-1 p {
  	margin: auto;
  	padding-top: 10px;
  	padding-bottom: 10px;
  }


  /*ICON*/
  .game-icon {
  	display: flex;
  	justify-content: space-around;
  	width: 100%;
  }

  .start-icon {
  	margin-left: 5%;
  }
  .end-icon {
  	margin-right: 5%
  }
  .icon img {
  	max-width: 100%;
  }
  .icon {
  	margin: 1%;
  	width: 8%;
  }




  /*Анонсы.*/

  .announcement {
  	background-color: #d3e3ef;
  }

  .line {	
  	padding-top: 40px;
  }

  .line p {	
  	background-color: #fff;
  	font-family: Comfortaa;
  	font-size: 21px;
  	margin-bottom: -21px;
  	padding-top: 20px;
  	padding-bottom: 20px;
  	text-align: center;
  	text-transform: uppercase;
  }

  .line img{
  	max-height: 60px;
  	vertical-align: middle;
  	margin-left: 10px;
  	margin-right: 10px;
  }

  .rupor img {
  	display: block;
  	margin: auto;
  	margin-top: 10px;
  	max-height: 80px;
  }

  /*BOX.*/


  .bgc {
  	background: #d3e3ef;
  }

  .box {
  	/*position: relative;*/
  	display: flex; 
  	justify-content: space-around;

  }

  .line-2 {
  	/*position: absolute;*/
  	/*top: 31px;*/
  	width: 100%;
  	height: 50px;
  	background-color: #fb8684;	
  }


  .box-first {
  	width: 460px;
  	height: 460px;
  	background-color: #fff;
  	border-radius: 10px;
  	margin: 50px 0;
  	/*margin: 50px auto 30px 60px;*/
  }

  .box-second {
  	width: 460px;
  	height: 460px;
  	background-color: #fff;
  	border-radius: 10px;
  	margin: 50px 0;
  	/*margin: 50px 60px 30px auto;*/
  }

  .box-text-announcement {
  	padding: 70px 50px 0 30px;
  	font-family: Roboto;
  }

/*.aboutan {
	position: relative;
	bottom: -10px;
	}*/

	.line-3 {
		background-color: #d3e3ef;
	}

	.line-3 p {
		font-family: Comfortaa;
		font-size: 21px;
		text-transform: uppercase;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.line-3 img {
		max-height: 30px;
		vertical-align: middle;
		margin-right: 10px;
	}


	/*Анимэ.*/


	.box-text-img {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	.box-img {
		width: 45%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.box-text {		
		width: 45%;
		background-color: #d3e3ef;		
		border-radius: 10px;
	}

	.line-2 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
	}

	.line-2 p {		
		font-family: Comfortaa;
	}

	.box-text-about {
		padding: 5% 5%;
		background-color: #d3e3ef;		
		font-family: Roboto;
		border-radius: 10%;
	}

	.box-img1 {
		background-image: url("../img/box img.png");		
		width: 100%;
		height: 100%;
		border-radius: 10px;	
		background-size: cover;
	}

	.box-img2 {
		background-image: url("../img/perchatka.jpg");	
		width: 100%;
		height: 100%;
		border-radius: 10px;	
		background-size: cover;
	}

	/*our team*/

	.our-team img{
		position: relative;
		margin:0;
		left: 42%;
		padding-top: 50px;
		padding-bottom: 50px;
		opacity: 0.35;
	}

	.our-team p {
		position: absolute;
		top: 49px;
		left: 40.5%;
		font-size: 21px;
		font-family: Comfortaa;
		text-transform: uppercase;
	}

	/*BOSS*/


	.boss {
		width: 100%;
		display: flex;
		justify-content: space-around; 
		position: relative;
	}
	.image-boss {
		width: 25%;
		display: flex;
		flex-direction: column;
	}
	.image-boss img{
		width: 50%;
	}
	.boss-image {
		position: absolute;
		top: -25%;
		left: 5%;
	}
	.boss-speak {
		margin: 0 auto;
		font-family: Roboto;
		font-weight: 300;
		font-size: 21px;
		text-align: center;
		width: 70%;
	}

	.

	/*MEMBERS*/

	.members {
		margin-left: auto;
		margin-right: auto;
	}

	.members img {
		width: 150px;
		height: 150px;
	}

	.members h4 {
		font-family: Comfortaa;
		text-transform: uppercase;
		font-size: 12px;
		/*text-align: center;*/
	}

	.members p {
		font-family: Roboto;
		font-weight: 400;
		font-size: 11px;
		/*text-align: center;*/
		text-transform: uppercase;
	}

	.member-5 {

		text-align: center;
	}

	.member-1,.member-2,.member-3,.member-4,.member-5 {
		padding-top: 120px;
		padding-bottom: 80px;
		width: 165px;
		text-align: center;
	}


	/*feedback*/
	.feedback {
		background-image: url("../img/Feedback.png");
		background-size: cover;
		height: 560px;
	}

	.message {
		background: transparent;
		color: #fff;
	}

	input {
		border-width: 1px;
		color: #808080;
	}

	input[type="name"]::-webkit-input-placeholder {
		color: #fff;
		padding-left: 10px;
		font-family: Jura;
	}

	input[type="email"]::-webkit-input-placeholder {
		color: #fff;
		padding-left: 10px;
		font-family: Jura;
	}

	input[type="tel"]::-webkit-input-placeholder {
		color: #fff;
		padding-left: 10px;
		font-family: Jura;
	}

	textarea::-webkit-input-placeholder {
		color: #fff;
		padding-left: 10px;
		padding-top: 10px;
		font-family: Jura;
	}

	textarea:-moz-placeholder { /* Firefox 18- */
		color: #fff;  
	}

	textarea::-moz-placeholder {  /* Firefox 19+ */
		color: #fff;  
	}

	textarea:-ms-input-placeholder {
		color: #fff;  
	}

	.feedback {
		position: relative;
		padding-top: 30px;
	}

	input#name.message {
		position: absolute;
		top: 25%;
		left: 10%;
		height: 30px;
		width: 20%;
	}

	input#email.message {
		position: absolute;
		top: 25%;
		left: 35%;
		height: 30px;
		width: 20%;
	}

	input#tel.message {
		position: absolute;
		top: 25%;
		left: 60%;
		height: 30px;
		width: 20%;
	}

	textarea#mes.message {
		position: absolute;
		top: 45%;
		left: 10%;
		height: 80px;
		width: 70%;
	}

	button.button {
		position: absolute;
		top: 65%;
		left: 40%;
		height: 40px;
		width: 150px;
		background-color: #20a0d4;
		border: none;
		color: #fff;
		font-family: Roboto;
		text-transform: uppercase;

	}


	/*footer*/

	.footer-wrap {
		background-color: #d8dfe7;
	}

	.footer-icon {
		text-align: right;
		padding-top: 30px;
		padding-right: 30px;
	}

	.footer-icon a {
		padding-right: 15px;
	}

	.footer-icon img {	
		max-width: 30px;
		max-height: 30px;
	}

	.line-footer p {
		font-family: Comfortaa;
		font-size: 12px;
		font-weight: 40px;
		background-color: #fff;
		text-align: right;
		padding-bottom: 10px;
		padding-top: 10px;
		padding-right: 30px;
		margin-bottom: 30px;
		text-transform: uppercase;
	}



	/*MEDIA*/



	@media (max-width: 1200px) {
		/*.icon, .start-icon, .end-icon {
			padding-right: 30px;
			}*/
	/*.box-first, .box-second {
		margin: 30px auto;		
		}*/

		.box-first, .box-second {
			width: 360px;
		}

		.box-first {
			margin-bottom: 0px;
			margin-top: 50px;
		}

	/*.box-second {
		margin-top: 50px;
		margin-left: -10px;
		}*/
		/*.box-text, .box-img, .box-img1 {
			margin: 20px auto;
			}*/

	/*.box-img, .box-img1 {
	margin-left: -10px;
	}*/

	.box-text, .box-img {
		width: 90%;
	}

	.box-text-img {
		flex-direction: column;
		align-items: center;
	}

	.box-img {
		height: 300px;
		flex-direction: row;

	}

	.boss{
		flex-direction: column;
	}

	.image-boss, .boss-speak{
		width: 95%;
	}

	.boss-image {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
		width: 100%;
	}

	.image-boss img {
		width: 25%;
	}

	.image-boss {
		justify-content: center;
	}
}

@media (max-width: 992px) {
		/*.icon, .start-icon, .end-icon {
			padding-right: 30px;
			}*/

			.box {
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			.box-first, .box-second {
				width: 460px;
			}

/*	.box-first, .box-second {
		margin: 30px auto;		
		}*/

		.box-text, .box-img, .box-img1 {
			margin: 20px auto;
		}
		.box-img {
			margin-top: 40px;
		}
		.member-1, .member-2, .member-3 {
			margin: 20px auto;
			padding: 0px;
		} 

		.member-4, .member-5 {
			margin: 0 auto;
			padding: 0px;
		}
		/*.image-boss img {
			position: relative;
			left: 32%;
		}

		.boss-speak p {
			padding: 10px auto;
			width: 100%;
		}*/
	}

	@media (max-width: 768px) {
	/*	.icon, .start-icon, .end-icon {
			padding-right: 20px;
			}*/
			.box-text /*.box-img, .box-img1*/ {
				margin: 20px auto;
			}

			.box-img, .box-img1 {
				margin: 0 auto;
			}

			.member-1, .member-2 {
				margin: 0 auto;
				padding-bottom: 10px;
			}
			.member-3, .member-4, .member-5   {	
				margin:0 auto;
				padding-top: 0px;
			}
			/*.image-boss {
				position: relative;
				left: -2%;
				margin-top: 20px;
			}*/

			.slider-text {
				align-items: center;
			}

			.slider {
				justify-content: center;
			}

			.slider p {
				text-align: center;
			}
		}

		@media (max-width: 576px) { 
		/*.icon, .start-icon {
			padding-right: 10px;
			}*/
			.box-first, .box-second, .line-2 {
				width: 100%;
				margin: auto;
			}
			.line-2 p{
				padding: 0;
				left: 20px;
				bottom: -17px;
			}
			.box-text, .box-img, .box-img1, .box-text-about {
				margin: 20px auto;
			}
			.member-1, .member-2, .member-3, .member-4, .member-5 {
				padding-bottom: 10px;
				padding-top: 10px;
				margin: 0 auto;
			} 
		}